domain: bigbang.dev

# Uncomment the following settings if using the AWS RKE2 terraform setup
# istio:
#   ingressGateways:
#     public-ingressgateway:
#       type: "NodePort"
#       nodePortBase: 30000

flux:
  interval: 1m
  rollback:
    cleanupOnFail: false

logging:
  enabled: false

clusterAuditor:
  enabled: false

gatekeeper:
  enabled: false

eckoperator:
  enabled: false

kiali:
  enabled: false

jaeger:
  enabled: false

fluentbit:
  enabled: false

twistlock:
  enabled: false


istio:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/core/istio-controlplane.git
    tag: "1.17.1-bb.0"
    path: "./chart"
  enabled: true

istiooperator:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/core/istio-operator.git
    tag: "1.17.1-bb.0"
    path: "./chart"
  enabled: true

monitoring:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/core/monitoring.git
    tag: "43.1.2-bb.4"
    path: "./chart"
  enabled: true
  values:
    prometheus:
      prometheusSpec:
        resources:
          requests:
            cpu: 200m
            memory: 1Gi

loki:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/loki.git
    tag: "4.8.0-bb.2"
    path: "./chart"
  enabled: true
  strategy: monolith

promtail:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/promtail.git
    tag: "6.8.1-bb.2"
    path: "./chart"
  enabled: true

kyverno:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/kyverno.git
    tag: "2.6.5-bb.3"
    path: "./chart"
  enabled: true
  values:
    replicaCount: 1

kyvernopolicies:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/kyverno-policies.git
    tag: "1.1.0-bb.4"
    path: "./chart"
  enabled: true

neuvector:
  git:
    repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/neuvector.git
    tag: "2.4.2-bb.5"
    path: "./chart"
  enabled: true
  values:
    k3s:
      enabled: true

addons:
  metricsServer:
    git:
      repo: https://repo1.dso.mil/platform-one/big-bang/apps/sandbox/metrics-server.git
      tag: "3.8.4-bb.0"
      path: "./chart"
    enabled: auto